<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <meta charset="utf-8" />
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'app/content/Custom.css' %}" />
</head>
<body>    
    <div width="auto"
         height="200px"
         class="left-buttons background">
        <span class="title focus-of-box">
            Exchange Authentication
        </span>
        <br />
        <br />

        <input id="fileBox"
               type="file" 
               accept=".txt" 
               />
        <br />
        <br />
        <button id="submitButton"
                class="green-and-purple" 
                data-bind="click: OnSubmit">submit</button>     
        <span data-bind="visible: IsSubmitting">Submitting...</span>
    </div> 

    <div class="right-buttons background">
        <p>
            <span class="title">Operation Status: </span>
            <span data-bind="text: BotsStatus"
                  class="focus-of-box"></span>
        </p>

        <p data-bind="visible: ShouldDisplayControl">
            <button id="toggleButton"
                    class="green-and-purple"
                    data-bind="click: OnToggle">
                Toggle Operations
            </button>
        </p>
    </div>  

    <table class="left-buttons authentication-table">
        <thead>
            <tr class="background">
                <td>Manager Name</td>
                <td>Auth Outcome</td>
            </tr>
        </thead>

        <tbody data-bind="visible: AuthenticationOutcomes().length > 0,
                            foreach: AuthenticationOutcomes">
            <tr>
                <td data-bind="text: MarketManagerName"></td>
                <td data-bind="text: Outcome"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>

{% load staticfiles %}
<script src="{% static 'app/scripts/jquery-1.10.2.min.js' %}" type="text/javascript"></script> <!--type is required for script tags in anything less than html5-->
<script src="{% static 'app/scripts/js_cookie.js' %}" type="text/javascript"></script>
<script src="{% static 'app/scripts/Custom/AuthFileUploader.js' %}" type="text/javascript"></script>
<script src="{% static 'app/scripts/Custom/RequestForgeryToken.js' %}" type="text/javascript"></script>
<script src="{% static 'app/scripts/knockout-3.4.2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'app/scripts/Custom/AuthorizedControls.js' %}" type="text/javascript"></script>
<script src="{% static 'app/scripts/Custom/Models/AuthenticationOutcome.js' %}" type="text/javascript"></script>

<script>
    SetupCsrfToken();
    var viewModel = new AuthorizedControlsViewModel();
    ko.applyBindings(viewModel);
</script>
